<?xml version="1.0" encoding="utf-8"?>
<odoo>

   

    <!-- Menú principal -->
    <menuitem id="menu_ventas_viajes_root" 
              name="Ventas Viajes" 
              sequence="10"/>
    <!-- Submenús -->
    <menuitem id="menu_ventas_viajes_viajes" 
              name="Viajes" 
              parent="menu_ventas_viajes_root" 
              action="action_ventas_viajes_viaje"
              sequence="10"/>
    <menuitem id="menu_ventas_viajes_personas" 
              name="Personas" 
              parent="menu_ventas_viajes_root" 
              action="action_ventas_viajes_persona"
              sequence="20"/>
    <menuitem id="menu_ventas_viajes_ventas" 
              name="Ventas" 
              parent="menu_ventas_viajes_root" 
              action="action_ventas_viajes_venta"
              sequence="30"/>
    <menuitem id="menu_ventas_viajes_deudas" 
              name="Deudas" 
              parent="menu_ventas_viajes_root" 
              action="action_ventas_viajes_deuda"
              sequence="40"/>
    

   
</odoo>